

*, *:before, *:after {
  box-sizing: border-box;
}


body {
  font-family: -apple-system, 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F0F0F0;
 --webkit-filter: hue-rotate(-90deg);
 overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

hr {
  border: 0;
  height: 3px;
  width: 30px;
  background-color: #cf092c;
  margin: 22px 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0 0 1.5em 0;
  
}

.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 1.75em 3.5em;
  white-space: nowrap;
  border-radius: 5px;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: 700;
}

.product {
  position: relative;
  width: 400px;
  padding: 40px;
  border-radius: 8px;
  background-color: #fff;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.product__image {
  width: 180%;
  margin-left: -40%;
  margin-right: -40%;
  margin-top: -5px;
  margin-bottom: 30px;
  max-width: none;
}

.product__title {
  font-size: 30px;
  color: #000;
  margin: 0 0 0.5em 0;
  line-height: 1.1;
}

.product__price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -30px;
  left: -30px;
  width: 100px;
  height: 100px;
  background-color: rgba(#000, 0.95);
  color: #fff;
  border-radius: 50%;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: 700;
}

.product__category {
  display: block;
  color: #cf092c;
  margin-bottom: 1em;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: 700;
}

#count{
    font-size: 35px;
}
.amount{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.amount i{
    font-size: 20px;
    height: 35px;
    width: 35px;
    background: rgb(199, 199, 199);
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
}